# Compiled class files
*.class

# Maven
/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build output
/out/

# Logs
*.log

# Generated artifacts
release/

# Others
bin/
